<StackLayout class="modal-view-style">
    <StackLayout class="page-content">
        <StackLayout class="modal-container">
            <StackLayout class="body-container">
                <Label class="solo fa" textWrap="true" text="This version is running on the testnet, therefore importing your default burst wallets will show zero balances. If you need test-BURST to experiment with the functionalities please give notice here:"></Label>
                <Button class="btn btn-primary btn-active about-button fa" text="&#xf0d6; GetBurst" (tap)="onTapGetBurst($event)"></Button>
            </StackLayout>
        </StackLayout>
    <StackLayout>
</StackLayout>
