<StackLayout class="modal-view-style">
    <StackLayout class="page-content">
        <StackLayout class="modal-container">
            <StackLayout class="body-container">
                <Button class="btn btn-primary btn-active action-button fa" text="Import &#xf019;" (tap)="onTapImport()"></Button>
                <Button class="btn btn-primary btn-active action-button fa" text="Create &#xf067;" (tap)="onTapCreate()"></Button>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>
