<ActionBar class="action-bar">
    <StackLayout orientation="horizontal">
        <Image class="logo-tiny m-r-15" src="res://logo"></Image>
        <Label class="action-bar-title" text="Add New Wallet"></Label>
    </StackLayout>
</ActionBar>

<StackLayout class="page-content" orientation="vertical">
    <StackLayout class="container">

        <Image class="logo-small m-b-30 m-t-10" src="res://logo"></Image>

        <StackLayout>
            <StackLayout class="info-container fet" orientation="vertical">
                <StackLayout orientation="vertical">
                    <Label class="solo" textWrap="true" text="Add a new wallet by importing or creating one!"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout class="m-t-15" orientation="vertical">
                <Button class="btn btn-primary btn-active action-button fa" text="Import &#xf019;" [nsRouterLink]="['/import']"></Button>
                <Button class="btn btn-primary btn-active action-button fa" text="Create &#xf067;" [nsRouterLink]="['/create']"></Button>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>
