
.import-container {
    text-align: center;
    vertical-align: middle;
    height: 90%;
}

.toggle-label {
    horizontal-align: center;
    text-align: center;
}

.toggle-switch {
    horizontal-align: center;
    text-align: center;
}

.big-button {
    height: 200px;
}
