<ActionBar class="action-bar">
    <StackLayout orientation="horizontal">
        <Image class="logo-tiny m-r-15" src="res://logo"></Image>
        <Label class="action-bar-title" text="Import Existing Wallet"></Label>
    </StackLayout>
</ActionBar>

<StackLayout class="page-content" orientation="vertical">

    <StackLayout class="container" orientation="vertical">

        <Image class="logo-small m-b-15" src="res://logo"></Image>

        <StackLayout class="info-container" orientation="vertical">
            <StackLayout orientation="vertical">
                <Label class="top text-view-label fa" text="&#xf05a;"></Label>
                <Label class="bottom" textWrap="true" text="Import an active wallet by entering its passphrase! Otherwise, import an offline wallet by entering its Burstcoin address!"></Label>
            </StackLayout>
        </StackLayout>

        <StackLayout *ngIf="step == 1">
            <StackLayout class="body-container" orientation="vertical">
                <Label class="h3 toggle-label" textWrap="true" [text]="state"></Label>
                <StackLayout style="width: 100%;" class="info-container" orientation="vertical">
                    <StackLayout orientation="vertical">
                        <Label class="solo" textWrap="true" [text]="description"></Label>
                    </StackLayout>
                </StackLayout>

                <Switch class="m-15 toggle-switch" checked="true" (checkedChange)="onChecked($event)"></Switch>
                <TextField class="input" [hint]="hint" [(ngModel)]='input'></TextField>
            </StackLayout>
            <StackLayout orientation="vertical">
                <Button *ngIf="active == true" class="btn btn-primary btn-active action-button fa" text="Next &#xf18e;" (tap)="onTapNext($event)"></Button>
                <Button *ngIf="active == false" class="btn btn-primary btn-active action-button fa" text="Import &#xf019;" (tap)="onTapImport($event)"></Button>
            </StackLayout>
        </StackLayout>

        <StackLayout *ngIf="step == 2">
            <StackLayout class="info-container" orientation="vertical">
                <Label textWrap="true" class="solo" text="Set a six-digit PIN code!"></Label>
            </StackLayout>
            <StackLayout class="body-container m-b-20" orientation="vertical">
                <Label class="text-view-label fa" text="&#xf292; PIN"></Label>
                <TextField class="input" [(ngModel)]="pin" keyboardType="phone" returnKeyType="done"></TextField>
                <Button class="btn btn-primary btn-active action-button fa" text="Done &#xf05d;" (tap)="onTapDone($event)"></Button>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>
