@import '../app-variables';

.toggle-label {
    horizontal-align: center;
    text-align: center;
}

.toggle-switch {
    horizontal-align: center;
    text-align: center;
    color: $background-dark;
}

.input-paad {
    margin-top: 5;
}

.input-pin {
    margin-bottom: 15;
}
