<StackLayout>
    <StackLayout class="info-container" orientation="vertical">
        <StackLayout orientation="vertical">
            <Label class="top text-view-label fa" text="&#xf05a;"></Label>
            <Label class="bottom" textWrap="true" [text]="'CREATE.INFO_STEP_TWO' | translate"></Label>
        </StackLayout>
    </StackLayout>

    <StackLayout>
        <StackLayout class="body-container" orientation="vertical">
            <Label class="top" textWrap="true" [text]="'CREATE.INFO_STEP_TWO_ACTION' | translate"></Label>
            <Label class="chip" [text]="this.createService.getPassphrasePart(index)"></Label>
            <Button class="btn btn-primary btn-active action-button fa" [text]="('CREATE.NEXT' | translate) + ' &#xf18e;'" (tap)="onTapNext($event)"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>
