<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="onPageLoaded">
    <ActionBar class="action-bar">
        <GridLayout columns="auto, 200, *, auto" rows="auto">
            <Image col="0" class="logo-tiny m-r-15" src="res://apple"></Image>
            <Label col="1" class="action-bar-title" [text]="title"></Label>
            <Button *ngIf="selectedIndex == 2" col="3" class="btn btn-primary btn-active action-bar-button fa" text="&#xf067;"></Button>
        </GridLayout>
    </ActionBar>

    <TabView (selectedIndexChanged)="onSelectedIndexChanged($event)">
        <StackLayout class="tab" *tabItem="{title: 'Balance', iconSource: getIconSource('coins')}">
            <balance></balance>
        </StackLayout>
        <StackLayout class="tab" *tabItem="{title: 'History', iconSource: getIconSource('transactions')}">
            <transactions></transactions>
        </StackLayout>
        <StackLayout class="tab" *tabItem="{title: 'Accounts', iconSource: getIconSource('accounts')}">
            <accounts></accounts>
        </StackLayout>
        <StackLayout class="tab" *tabItem="{title: 'Settings', iconSource: getIconSource('gears')}">

        </StackLayout>
    </TabView>
</Page>
