@import 'tabs.component';

// Place any CSS rules you want to apply only on Android here
TabView {
    tab-text-color: $default-text;
    selected-tab-text-color: $background-dark;
    android-selected-tab-text-color: $background-dark;
    android-selected-tab-highlight-color: $background-dark;
}
