<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="onPageLoaded">
    <ActionBar class="action-bar">
        <Label class="action-bar-title" [text]="title"></Label>
    </ActionBar>

    <TabView (selectedIndexChanged)="onSelectedIndexChanged($event)">
        <StackLayout *tabItem="{title: 'Balance', iconSource: getIconSource('coins')}">
            <balance></balance>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Transactions', iconSource: getIconSource('transactions')}">
            <!--<transactions></transactions>-->
        </StackLayout>
        <StackLayout *tabItem="{title: 'Accounts', iconSource: getIconSource('accounts')}">
            <accounts></accounts>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Settings', iconSource: getIconSource('gears')}">

        </StackLayout>
    </TabView>
</Page>
