@import '../../../app-ios-variables';

.seed-area {
    background-color: $background-light;
    border-color: $background-dark;
    border-width: 1;
    border-radius: $default-border;
    vertical-align: middle;
    text-align:center;
    width: 100%;
    height: 250;
}
