
.create-step {
    vertical-align: middle;
    height: 70%;
}

.progress-bottom {
    height: 20%;
}

.seed-area {
    margin-top: 150px;
    vertical-align: middle;
    border-radius: 20px;
    background-color: #EAEAEA;
    width: 100%;
    height: 70%;
}

.seed-progress {
    height: 20%;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    margin: 125px 5px 50px 5px;
    height: 100px;
    width: 50%;
    font-size: 24px;
    line-height: 25px;
    border-radius: 20px;
    background-color: #EAEAEA;
}

.possibilities {
    width: 90%;
    margin-top: 50px;
    margin-left: 20px;
    height: 200px;
    text-align: center;
}

.possibility-button {
    margin: 10px;
    text-transform: lowercase;
    height: 150px;
}

.generate-again-button {
    margin: 10px;
    width: 50%;
}

.bottom-filler {
    height: 150px;
}

.big-button {
    height: 200px;
}
