@import '../app-variables';

.progress-bottom {
    margin-top: 100px;
    height: 20%;
}

.progress-bar {
    color: $default-text;
    background-color: $background-dark;
}

.seed-area {
    background-color: $background-light;
    border-color: $background-dark;
    border-width: 1;
    border-radius: $default-border;
    vertical-align: middle;
    text-align:center;
    width: 100%;
    height: 60%;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    margin: 50px 5px 30px 5px;
    height: 100px;
    width: 50%;
    font-size: 24px;
    line-height: 25px;
    border-radius: 20px;
    background-color: $light-gray;
}

.possibilities {
    width: 90%;
    margin-left: 20px;
    height: 200px;
    text-align: center;
}

.possibility-button {
    margin: 10px;
    text-transform: lowercase;
    height: 150px;
}

.generate-again-button {
    margin: 50px 0px 0px 0px;
    width: 50%;
}

.bottom-filler {
    height: 150px;
}
