<StackLayout class="modal-view-style">
    <StackLayout class="page-content">
        <StackLayout class="modal-container">
            <StackLayout class="body-container">
                <GridLayout class="text-left m-t-10" columns="auto, 4*, auto, 4*, auto, 4*, auto, 5*" rows="auto">
                    <Label col="0" row="1" text="BURST-"></Label>
                    <TextField col="1" row="1" class="input" [(ngModel)]="addressParts[0]" (returnPress)="formatAddress()"></TextField>
                    <Label col="2" row="1" text="-"></Label>
                    <TextField col="3" row="1" class="input" [(ngModel)]="addressParts[1]" (returnPress)="formatAddress()"></TextField>
                    <Label col="4" row="1" text="-"></Label>
                    <TextField col="5" row="1" class="input" [(ngModel)]="addressParts[2]" (returnPress)="formatAddress()"></TextField>
                    <Label col="6" row="1" text="-"></Label>
                    <TextField col="7" row="1" class="input" [(ngModel)]="addressParts[3]" (returnPress)="formatAddress()"></TextField>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>
