<GridLayout rows="*">
    <RadListView #radListView row="0" [items]="accounts" (swipe)="onSwipeItem($event)" pullToRefresh="true" (pullToRefreshInitiated)="refresh($event)" separatorColor="transparent">
        <ng-template let-item="item" let-i="index">
            <StackLayout>
                <GridLayout (tap)="selectAccount(item)" (longPress)="onLongPress(item.address)" class="list-item" columns="auto, auto, auto, *, auto, auto" rows="auto, auto, auto, auto">
                    <Label col="0" row="0" colspan="3" [text]="item.address"></Label>
                    <Label *ngIf="item.type == 'active'" col="4" row="0" class="text-center fa active-indicator" text="&#xf00c;"></Label>
                    <Label *ngIf="item.type == 'offline'" col="4" row="0" class="text-center fa active-indicator" text="&#xf05e;"></Label>
                    <Label [visibility]="item.selected ? 'visible' : 'collapse'" style="padding-bottom: 15;" col="5" row="0" rowspan="2" class="fa text-center select-indicator" text="&#xf111;"></Label>
                    <Label [visibility]="!item.selected ? 'visible' : 'collapse'" style="padding-bottom: 15;" col="5" row="0" rowspan="2" class="fa text-center select-indicator" text="&#xf10c;"></Label>

                    <Label col="0" row="1" colspan="3" rowspan="2" class="balance text-center" [text]="('TABS.ACCOUNTS.BALANCE' | translate) + ': ' + item.balance + ' BURST'"></Label>

                    <Label col="0" row="3" class="text-right" [text]="marketService.getPriceBTC(item.balance)"></Label>
                    <Label col="1" row="3" class="text-center fa" text="&#xf0ec;"></Label>
                    <Label col="2" row="3" class="text-left" [text]="marketService.getPriceFiatCurrency(item.balance)"></Label>

                    <Button col="5" row="1" colspan="2" rowspan="3" style="margin: 2; margin-top: 10; padding:5" class="btn btn-primary btn-active remove-button fa text-center" text="&#xf00d;" (tap)="onTapRemoveAccount(item)"></Button>
                </GridLayout>
                <Button *ngIf="i == accounts.length - 1" class="btn btn-primary btn-active icon-button fa text-center" text="&#xf067;" (tap)="onTapAddAccount()"></Button>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>
