@import '../../../app-ios-variables';

.settings-item {
    background-color: $background-light;
    margin: 20;
    border-radius: $default-border;
}

.settings-button {
    text-transform:none;
    font-size: 14;
    height: $btn-height;
    margin: 10;
    width: 90%;
}
