<StackLayout class="modal-view-style">
    <StackLayout class="page-content">
        <StackLayout class="modal-container">
            <StackLayout class="body-container">
                <Label class="solo fa" textWrap="true" [text]="'IMPORT.SHOW.QUESTION' | translate"></Label>
                <Label class="bottom font-weight-bold" [text]="address"></Label>
                <GridLayout rows="auto" columns="*,*">
                    <Button col="0" class="btn btn-primary btn-active fa" text="&#xf00d;" (tap)="onTapNo()"></Button>
                    <Button col="1" class="btn btn-primary btn-active fa" text="&#xf00c;" (tap)="onTapOk()"></Button>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    <StackLayout>
</StackLayout>
