
// Start custom common variables
@import 'app-variables';
// End custom common variables

// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

// Import the platform specific ruleset.
@import url('~/platform.css');

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
Page {
    background-color: $background-light;
    color: $default-text;
}

.action-bar {
    text-align: left;
}

.logo-tiny {
    height: 100px;
    width: 100px;
}

.logo-small {
    height: 300px;
    width: 300px;
}

.logo-normal {
    height: 500px;
    width: 500px;
}

.btn-primary {
    color: $default-text;
    background-color: $background-light;
}

.action-button {
    width: 70%;
    height: $btn-height;
}

.input {
    //background-color: $background-dark;
    color: $default-text;
}

.text-view-label {
    font-size: $text-view-label-size;
}

.list-item {
    background-color: $background-light;
    margin: 30px 20px 0px 20px;
    padding: 30px 30px 30px 30px;
    border-radius: $default-border;
}

.activity-indicator {
    color: $background-dark;
}
// Font icon class
.fa {
   font-family: "FontAwesome";
}
// Common page class
.page-content {

    .container {
        height: 100%;
        vertical-align: middle;

        .body-container {
            background-color: $background-light;
            text-align: center;
            margin-top: 20px;
            border-radius: $default-border;
            width: 90%;
            padding: 50px;

            .solo {
                margin: 30px;
            }

            .top {
                margin: 30px 30px 0px 30px;
            }

            .middle {
                margin: 0px 30px 0px 30px;
            }

            .bottom {
                margin: 0px 30px 30px 30px;
            }
        }

        .info-container {
            background-color: $background-dark;
            color: $background-light;
            border-color: $default-border-color;
            border-width: 1;
            border-radius: $default-border;
            text-align: center;
            width: 80%;

            .solo {
                margin: 30px;
            }

            .top {
                margin: 30px 30px 0px 30px;
            }

            .middle {
                margin: 0px 30px 0px 30px;
            }

            .bottom {
                margin: 0px 30px 30px 30px;
            }
        }
    }

    .modal-container {
        vertical-align: middle;

        .body-container {
            background-color: $background-light;
            text-align: center;
            border-radius: $default-border;
            width: 100%;
            padding: 30;

            .solo {
                margin: 30px;
            }

            .top {
                margin: 30px 30px 0px 30px;
            }

            .middle {
                margin: 0px 30px 0px 30px;
            }

            .bottom {
                margin: 0px 30px 30px 30px;
            }
        }

        .info-container {
            background-color: $background-dark;
            color: $background-light;
            border-color: $default-border-color;
            border-width: 1;
            border-radius: $default-border;
            text-align: center;
            width: 80%;

            .solo {
                margin: 30px;
            }

            .top {
                margin: 30px 30px 0px 30px;
            }

            .middle {
                margin: 0px 30px 0px 30px;
            }

            .bottom {
                margin: 0px 30px 30px 30px;
            }
        }
    }

    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}
