<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="onPageLoaded">
    <ActionBar class="action-bar text-left">
        <StackLayout orientation="horizontal">
            <Image class="logo-tiny m-r-15" src="res://logo"></Image>
            <Label class="action-bar-title" [text]="title"></Label>
        </StackLayout>
    </ActionBar>

    <TabView #tabs (selectedIndexChanged)="onSelectedIndexChanged($event)">
        <StackLayout class="tab" *tabItem="{title: ('TABS.BALANCE.TITLE' | translate), iconSource: getIconSource('coins')}">
            <balance></balance>
        </StackLayout>
        <StackLayout class="tab" *tabItem="{title: ('TABS.HISTORY.TITLE' | translate), iconSource: getIconSource('transactions')}">
            <transactions></transactions>
        </StackLayout>
        <StackLayout class="tab" *tabItem="{title: ('TABS.ACCOUNTS.TITLE' | translate), iconSource: getIconSource('accounts')}">
            <accounts></accounts>
        </StackLayout>
        <StackLayout class="tab" *tabItem="{title: ('TABS.SETTINGS.TITLE' | translate), iconSource: getIconSource('gears')}">
            <settings></settings>
        </StackLayout>
    </TabView>
</Page>
