@import '../../app-variables';

// Place any CSS rules you want to apply only on Android here
TabView {
    tab-text-color: $default-text;
    selected-tab-text-color: $background-dark;
    android-selected-tab-text-color: $background-dark;
    android-selected-tab-highlight-color: $background-dark;
    font-size: 10;
}


.tab-view-item {
    background-color: $background-light;
}

.tab {
    font-size: 14;
}

.action-bar-button {
    width: 40;
    height: 40;
    margin: 0 7 0 0;
}
