<StackLayout>
    <StackLayout class="info-container" orientation="vertical">
        <Label class="top text-view-label fa" text="&#xf05a;"></Label>
        <Label textWrap="true" class="bottom" [text]="'TABS.ACCOUNTS.ACTIVATE.ENTER_PASSPHRASE' | translate:address"></Label>
    </StackLayout>
    <StackLayout class="body-container m-b-20" orientation="vertical">
        <TextField class="input m-b-10" [(ngModel)]="passphrase" [hint]="'TABS.ACCOUNTS.ACTIVATE.PASSPHRASE_INPUT_HINT' | translate" returnKeyType="done"></TextField>
        <Button class="btn btn-primary btn-active action-button fa" [text]="('TABS.ACCOUNTS.ACTIVATE.NEXT' | translate) + ' &#xf18e;'" (tap)="onTapNext($event)"></Button>
    </StackLayout>
</StackLayout>
