@import '../../../app-ios-variables';

.possibilities {
    width: 100%;
    margin-left: 7;
    height: 70;
    text-align: center;
}

.possibility-button {
    margin: 2;
    text-transform: lowercase;
    height: 40;
}
