<ActionBar class="action-bar">
    <StackLayout orientation="horizontal">
        <Image class="logo-tiny m-r-15" src="res://logo"></Image>
        <Label class="action-bar-title" text="Activate Offline Account"></Label>
    </StackLayout>
</ActionBar>

<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="onPageLoaded" actionBarHidden="true">
    <StackLayout class="page-content" orientation="vertical">
        <StackLayout class="container" orientation="vertical">
            <Image class="logo-small m-b-15" src="res://logo"></Image>

            <router-outlet></router-outlet>
        </StackLayout>
    </StackLayout>
</Page>
