.test {

}

.balance-container {
    background-color: #EAEAEA;
    padding: 10px;
    margin: 200px;
    text-align:center;
}

.actions-ccontainer {
    margin-top: 0px;
    margin: 200px;
    text-align:center;
}

.action-button {
    width: 70%;
    height: 150px;
}
