@import '../../app-variables';

.balance-container {
    background-color: $background-light;
    padding: 3;
    margin-top: 33;
    text-align: center;
    border-radius: $default-border;
    width: 80%;
}

.qrcode {
    margin: 8;
    width: 180;
    height: 180;
    border-radius: 8;
}

.positive {
    color: $success-light;
}

.negative {
    color: $error-light;
}
