@import '../../app-variables';

.balance-container {
    background-color: $background-light;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
    border-radius: $default-border;
    width: 80%;
}

.qrcode {
    margin: 25px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.positive {
    color: $success-light;
}

.negative {
    color: $error-light;
}
