

@import '../../../app-variables';


.big-label {
    font-size: 16;
}

.huge-label {
    font-size: 24;
}

.recipient-input {
    width: 100%;
    text-transform: uppercase;
}

.number-input {
    width: 50%;
}

.scan-button {
    height: 50;
    width: 50;
}
