.big-label {
    font-size: 14;
}

.huge-label {
    font-size: 22;
}

.recipient-input {
    width: 100%;
    text-transform: uppercase;
    height: 32;
    padding: 5;
}

.number-input {
    width: 50%;
    height: 32;
    padding: 5;
}
