@import '../../app-ios-variables';

.progress-bottom {
    margin-top: 33;
    height: 20%;
}

.progress-bar {
    color: $default-text;
    background-color: $background-light;
}

.generate-again-button {
    margin: 16 0 0 0;
    width: 60%;
}

.bottom-filler {
    height: 50;
}
