<ActionBar class="action-bar">
    <StackLayout orientation="horizontal">
        <Image class="logo-tiny m-r-15" src="res://logo"></Image>
        <Label class="action-bar-title" [text]="'CREATE.ACTION_BAR_TITLE' | translate"></Label>
    </StackLayout>
</ActionBar>

<ScrollView>
    <StackLayout class="page-content" orientation="vertical">
        <StackLayout class="container" orientation="vertical">
            <Image class="logo-small m-b-15 m-t-15" src="res://logo"></Image>

            <router-outlet></router-outlet>

            <StackLayout *ngIf="this.createService.getProgress() > 0" class="progress-bottom" orientation="vertical">
                <StackLayout>
                    <Button class="generate-again-button btn btn-primary btn-active fa" [text]="('CREATE.GENERATE_AGAIN' | translate) + ' &#xf021;'" (tap)="onTapGenerateAgain($event)"></Button>
                </StackLayout>
                <Progress class="m-20 progress-bar" [value]="this.createService.getProgress()" maxValue="4"></Progress>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>
