<StackLayout class="modal-view-style">
    <StackLayout class="page-content">
        <StackLayout class="modal-container">
            <StackLayout class="body-container">
                <Label class="solo fa" textWrap="true" [text]="('TABS.SETTINGS.NODE.INFO' | translate)"></Label>
                <TextField class="input node-address" [(ngModel)]="address" returnKeyType="done"></TextField>
                <GridLayout rows="auto" columns="*,auto">
                    <Button col="0" class="btn btn-primary btn-active action-button fa" text="&#xf05d;" (tap)="onTapOk()"></Button>
                    <Button col="1" class="btn btn-primary btn-active reset-button fa" text="&#xf0e2;" (tap)="onTapReset()"></Button>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>
