@import '../app-variables';

.test {

}

.transaction-container {
    background-color: $background-light;
}

.actions-ccontainer {
    margin-top: 0px;
    margin: 200px;
    text-align:center;
}

.action-button {
    width: 70%;
    height: 200px;
}
