@import '../../../app-variables';

.balance-card {
    background-color: $background-light;

    margin-top: 30;
    margin-left: 30;
    margin-right: 30;
}

.balance-container {
    background-color: $background-light;
    padding: 3;
    text-align: center;
    border-radius: $default-border;
    width: 80%;
}

.qrcode {
    margin: 8;
    width: 180;
    height: 180;
    border-radius: 3;
}

.positive {
    color: $success-light;
}

.negative {
    color: $error-light;
}
